.formulario{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30%;
    padding: 5px;
    width: 40%;
    border: 2px solid greenyellow;
    border-radius: 10px;
    background-color: black;
}

.password{
    display: flex;
    margin: 10px;
    border: 1px solid white;
    background-color: black;

}
.username{
    display: flex;
    margin: 10px;
    border: 1px solid white;
    background-color: black;
}

.label{
    display: flex;
    width: 30%;
    padding: 5px;
    color: greenyellow;
    font-size: x-large; 
    margin: 3px;
    font-family: cursive;
}

.bien{
    border: 2px solid rgb(0, 177, 0);
    background-color: rgb(189, 255, 189);
    border-radius: 5px;
}

.mal{
    border: 2px solid red;
    background-color: rgb(255, 190, 190);
    border-radius: 5px;
}
.span{
    color: greenyellow;
}

.btn{
    display: flex;
    margin: 10px;
    padding: 10px;
    align-self: center;
    width: fit-content;
    font-family: cursive;
    color: greenyellow;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid greenyellow
}