.App{
   background-image: url(./components/img/RIck\ and\ Morty\ Fondo.jpg);
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   min-height: 100vh;
}